In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import xarray as xr

In [2]:
path = "D:\DOCS\PATIA\ARCHIVOS\VHI_LS"

In [3]:
ds = "VHI.csv"

In [4]:
DF = pd.read_csv(path+"\\"+ds)

In [5]:
DF.head()

           x         y  VHI
0 -77.944963  2.534973  0.0
1 -77.940467  2.534973  0.0
2 -77.935971  2.534973  0.0
3 -77.931475  2.534973  0.0
4 -77.926979  2.534973  0.0

In [7]:
len(DF)/85
len(np.unique(DF["x"]))

135548

In [7]:
pathImg = "D:\DOCS\PATIA\IMGENES\VHI_LS"

In [8]:
Files = os.listdir(pathImg)

In [9]:
len(Files)

85

In [10]:
Fechas = []

for i in range(85): #LS5 Y LS7
    if i < 53:
        date = pd.Timestamp(Files[i][16:20] + Files[i][20:22] + Files[i][22:24])
        Fechas.append(date)
    elif i > 52: #LS8
        date = pd.Timestamp(Files[i][14:18] + Files[i][18:20] + Files[i][20:22])
        Fechas.append(date)

In [11]:
DATES = []
for i in range(85):
    DATES.append(np.tile(Fechas[i],135548))

In [12]:
DATES = [item for sublist in DATES for item in sublist]

In [13]:
DATES

[Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),
 Timestamp('1987-01-14 00:00:00'),

In [14]:
len(DATES)

11521580

In [15]:
DF["Fechas"]= DATES

In [16]:
DF.head()

           x         y  VHI     Fechas
0 -77.944963  2.534973  0.0 1987-01-14
1 -77.940467  2.534973  0.0 1987-01-14
2 -77.935971  2.534973  0.0 1987-01-14
3 -77.931475  2.534973  0.0 1987-01-14
4 -77.926979  2.534973  0.0 1987-01-14

In [17]:
DF=DF.set_index(["Fechas","x","y"])

In [18]:
DF.describe()

                VHI
count  1.152158e+07
mean   7.060895e+00
std    1.941207e+01
min   -7.889985e+01
25%    0.000000e+00
50%    0.000000e+00
75%    0.000000e+00
max    1.931529e+02

In [19]:
DF[(DF["VHI"]>100) | (DF["VHI"]<0)] = np.nan

In [20]:
DF.describe()

                VHI
count  1.151450e+07
mean   6.985200e+00
std    1.915858e+01
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    0.000000e+00
max    9.998935e+01

In [21]:
#DF = DF.reset_index()
#DF.to_csv("D:\DOCS\PATIA\ARCHIVOS\VHI_LS\VHIDates.csv")

In [22]:
#DF = DF.set_index(["Fechas","x","y"])

In [23]:
DF

                                VHI
Fechas     x          y
1987-01-14 -77.944963 2.534973  0.0
           -77.940467 2.534973  0.0
           -77.935971 2.534973  0.0
           -77.931475 2.534973  0.0
           -77.926979 2.534973  0.0
...                             ...
2016-11-20 -76.419217 0.676510  0.0
           -76.414726 0.676510  0.0
           -76.410234 0.676510  0.0
           -76.405742 0.676510  0.0
           -76.401250 0.676510  0.0

[11521580 rows x 1 columns]

In [24]:
DatosF = DF.reset_index()
DatosF.head()

      Fechas          x         y  VHI
0 1987-01-14 -77.944963  2.534973  0.0
1 1987-01-14 -77.940467  2.534973  0.0
2 1987-01-14 -77.935971  2.534973  0.0
3 1987-01-14 -77.931475  2.534973  0.0
4 1987-01-14 -77.926979  2.534973  0.0

In [30]:
len(np.unique(DatosF["x"]))
#len(np.unique(DatosF["y"]))
len(np.unique(DatosF["Fechas"]))

69

In [26]:
DFxarray = DF.to_xarray()

ValueError: cannot convert a DataFrame with a non-unique MultiIndex into xarray

In [ ]:
DS = xr.Dataset({"VHI":(["x,y,time"], DF["VHI"])},
               coords = {
                   "lon":(["x","y"],DF["x"]),
                   "lat":(["x","y"],DF["y"]),
                   "time":DF["Fechas"]
               })